<h1>Editing documentaryfilm</h1>

<%= render "form", documentaryfilm: @documentaryfilm %>

<br>

<div>
  <%= link_to "Show this documentaryfilm", @documentaryfilm %> |
  <%= link_to "Back to documentaryfilms", documentaryfilms_path %>
</div>
